<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details</title>
    {% load static %}
</head>
<body>
    <a href="/dashboard">Dashboard</a>
    <a href="/logout">Logout</a>
    <h1>Hello {{user.first_name}}! Read about this trip!</h1>
    <div>
        <h2>{{trip.destination}}</h2>
        <p>Start Date: {{trip.start_date}}</p>
        <p>End Date: {{trip.end_date}}</p>
        <p>Created On: {{trip.created_at}}</p>
        <p>Last Updated: {{trip.updated_at}}</p>
        <p>Plan: {{trip.plan}}</p>
        <p>Created by: {{trip.user.first_name}}</p>
    </div>
</body>
</html>