<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Game Settings</title>
</head>
<body>
    <form action="/user_settings" method="POST">
        {% csrf_token %}
        <label for="turns">Max Turns:</label>
        <input type="number" value="max_turns">
        <label for="goals">Goal For Gold Earned:</label>
        <input type="number" value="gold_goal">
        <input type="submit" class="btn-2" value="Update!">
    </form>
</body>
</html>
