<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    {% load static %}
    <link type="text/css" rel="stylesheet" href="{% static '/css/base.css' %}">
</head>
<body>
    <a href="/logout">Logout</a>
    <a href="/jobs/new">New job!</a>
    <h1>Hello {{user.first_name}}!</h1>
    <h2>Everyone's Jobs:</h2>
<table>
    <tr>
        <th>Job</th>
        <th>Location</th>
        <th>Actions</th>
    </tr>
    {% for job in all_jobs %}
    <tr>
        <td>{{job.job_name}}</td>
        <td>{{job.location}}</td>
        <td>
            <a href="/jobs/{{job.id}}">View |</a>
            <a href="/remove/{{job.id}}"> Remove |</a>
            <a href="/edit/{{job.id}}"> Edit</a>
        </td>
    </tr>
    {% endfor %}
</table>
</body>
</html>
